input,
textarea {
    width: 100%;
    margin-bottom: 16px;
    background-color: color(typography, 2) !important;
    color: color(typography, 1i) !important;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: color(bg, 3);
	border-radius: 8px;
    max-width: 100%;
    width: 100%;
    font-family: get-font-family(pre);
    padding: 8px;

    &::placeholder {
        color: color(typography, 3);
    }

    &::-ms-input-placeholder {
        color: color(typography, 3);
    }

    &:-ms-input-placeholder {
        color: color(typography, 3);
    }

    &:hover {
        border-color: darken(color(bg, 3), 5%);
    }

    &:active,
    &:focus {
        outline: none;
        border-color: color(primary, 1);
    }

}

input {
    height: 48px;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s;
}

.input {
    -moz-appearance: none;
    -webkit-appearance: none;
    @include font-size(7, mobile, true, false, true);
    @if ( get-font-size(7, desktop) != get-font-size(7, mobile) ) {
        @include media( '>medium' ) {
            @include font-size(7, desktop, true, false, true);
        }
    }
    line-height: 20px;
    padding: 13px 16px;
	height: 48px;
    box-shadow: none;

    .inline-input {
        display: inline;
        width: auto;
    }
}

.textarea {
    display: block;
    min-width: 100%;
    resize: vertical;

    .inline-textarea {
        display: inline;
        width: auto;
    }
}

.field-grouped {

    > .control {

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }
}

